<script id="layoutTemplate" type="text/x-jquery-tmpl">
    <div class="">
        <h2>Query Examples</h2>

        <p>Cloud CMS supports <a href='http://www.mongodb.org/display/DOCS/Advanced+Queries'>MongoDB-style query
            language</a> for advance queries. This example provides list of sample queries that query the creature
            nodes. </p>

        <p>Click on any sample query and you will see the query expression and query results.
        </p>
    </div>
    <div class="row-fluid">
        <div class="span12">
            <ol class="query-examples">
            </ol>
        </div>
        <div class="span12" style="margin-left:0px;">
            <fieldset>
                <div class="control-group">
                    <label class="control-label" for="repository-query-json">Repository</label>

                    <div class="controls">
                        <textarea id="repository-query-json" rows="4" class="input-xxlarge"></textarea>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="query-json">Query</label>
                    <textarea id="query-json" rows="10" class="input-xxlarge"></textarea>
                </div>
                <div class="control-group">
                    <button class="btn btn-primary" id="query-button">Query</button>
                </div>
            </fieldset>
        </div>
        <div class="span12" style="margin-left:0px;">
            <div id="query-results">
            </div>
        </div>
        <div class="span12" style="margin-left:0px;">
            <div id="query-error">
            </div>
        </div>
    </div>
    <div class="row-fluid">
        <pre class="prettyprint linenums">
        </pre>
    </div>
</script>