<script id="layoutTemplate" type="text/x-jquery-tmpl">
    <div class="">
        <h2>Social Graph</h2>

        <p>Within CloundCMS, nodes can be connected with each other through associations. We can create as many
            associations as we want between two nodes. Each association involves a source node and a target node.
            Association can have its own properties since association is node as well. There are two basic types of
            associations, directed and undirected.</p>

        <p></p>
    </div>
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span12">
                <div class="social-graph">
                </div>
            </div>
        </div>
    </div>
</script>