<script id="layoutTemplate" type="text/x-jquery-tmpl">
    <div class="">
        <h2>User Reviews</h2>
        <p>This example shows you how to build an interactive application that allows consumers to review the product,
            rate the product, vote on other people's reviews etc. The list of reviews will also be paged and sorted by
            timestamp.</p>
    </div>
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span12">
                <div id="promotion">
                </div>
                <div class="user-reviews-summary">
                    <div id="review_metrics" class="user-reviews-metrics">
                    </div>
                    <div id="review_button" class="user-reviews-button">
                    </div>
                </div>
                <div id="user_reviews">
                </div>
                <div id="user_reviews_page_bar">
                </div>
            </div>
        </div>
    </div>
</script>