<script id="userReviewIndicatorsTemplate" type="text/x-jquery-tmpl">
    <div>
        <div class="helpfulindicator">
        </div>
        <div class="spamindicator">
        </div>
        <div class="helpfulindicator-toolbar"><b>Was this review helpful to you ?</b>  <a class="helpfulbutton" href="javascript:void(0);">Yes</a> <a class="unhelpfulbutton" href="javascript:void(0);">No</a></div>
        <div class="spamindicator-toolbar">(<a class="spambutton" href="javascript:void(0);">Mark this review as inappropriate</a>)</div>
    </div>
</script>